/* Global */
@color-logo-blue: #006cb7;
@color-logo-orange: #f79223;
@color-cool-blue: #5aaac7;
@color-cool-orange: #e0953a;

@color-page-bg: #f5f5f5;

@color-navbar-bg: #f5f5f5;
@color-navbar-bg-active: #e7e7e7;
@color-navbar-border: #ddd;
@color-navbar-text: #aaa;
@color-navbar-text-active: #333;

@height-logo: 80px;

html body {
    /* background: url("../img/bg-noise.png") repeat scroll 0 0 #D8D8D8; */
    background: url("../img/bg-noise.png") repeat scroll 0 0 @color-page-bg;
}

p {
}

h1, h2, h3 {
    font-weight: normal;
}

.main-container {
    min-height: 620px;
}

/* Navigation */

.navbar-inner {
    background-color: @color-navbar-bg;
    background-image: none;
    border-radius: 0;
    padding-bottom: 0;

    .container {
        width: auto;
        margin-right: 0;

        @media (max-width: 979px) { 
            width: 90%;
            margin: 0 auto;
        }

        @media (max-width: 480px) { 
            width: auto;
        }
    }

    .brand {
        color: @color-logo-blue;
        text-align: left;

        img.logo,
        img.logo-small {
            height: @height-logo;
        }
        
        img.logo-small,
        span.logo-small-title {
            display: none;
            vertical-align: middle;
        }

        span.logo-small-title {
            font-size: 11px;
            font-style: italic;

            :first-child {
                font-size: 20px;
                font-style: normal;
            }
        }

        /* Show smaller logo with text on small screens */
        @media (max-width: 480px) {
            img.logo {
                display: none;
            }

            img.logo-small,
            span.logo-small-title {
                display: inline-block;
            }
        }

        /* And even smaller text on small screens */
        @media (max-width: 350px) { 
            span.logo-small-title {
                font-size: 9px;

                :first-child {
                    font-size: 17px;
                }
            }
        }

        /* And even even smaller text on super small screens */
        @media (max-width: 330px) { 
            span.logo-small-title {
                font-size: 7px;

                :first-child {
                    font-size: 15px;
                }
            }
        }
    }

    .btn-navbar,
    .btn-navbar:hover {
        margin-top: 30px;
        padding: 10px 14px;
        background-image: none;
        background-color: @color-cool-orange;
    }

    .nav > li.active > a {
        color: @color-navbar-text-active;
        background-color: @color-navbar-bg-active;

        &:hover {
            background-color: darken(@color-navbar-bg-active, 10%);
        }
    }

    .nav > li > a {
        color: @color-navbar-text;
        text-shadow: none;
        font-weight: bold;

        &:hover {
            background-color: darken(@color-navbar-bg-active, 10%);
        }
    }
    
}


/* Footer */

#footer {
    margin-top: 30px;
    padding: 20px 0; 
    background-color: @color-logo-blue;
    color: #ffffff;
}

ul.social li {
    float: left;
    width: 50px;
}

ul.social img {
    margin: 5px;
    width: 50px;
}

.copy {
    background: none repeat scroll 0 0 #1A1A1A;
    border-top: 1px solid #9C080C;
    margin-top: 20px;
    padding: 10px 0;
}


@media  (min-width: 979px)  { 
    .navbar-inner {
        box-shadow: none;
        border-bottom: 1px solid @color-navbar-border;
        padding-right: 0;

        .nav.pull-right {
            margin-left: 0;
        }

        .nav > li > a {
            line-height: @height-logo;
            border-left: 1px solid @color-navbar-border;
            /* padding: 0; */
            width: 92px;
            text-align: center;
        }
    }
}

@media  (max-width: 768px)  { 

    .navbar {
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media (max-width: 480px) { 

    .navbar {
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }

}


/* Other */

.intro {
    text-align: center;
    line-height: 24px;
}

#features {
    text-align: center;
}

.pic-theme {
    height: 70px;
    margin: 20px auto 0px;
    width: 92px;
}

.thumbnail, .accordion-group {
    background-color: #fff;
}

.list-with-heading h3 {
    font-weight: normal;
    font-size: 14px;
}


/* Prices */

.plans {
    text-align: center;

}
.price{
    background-color:#fff;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;border-radius:6px;
    -webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding-box;
    background-clip:padding-box;
    margin-top: 20px;
}
.btn-center {
    text-align:center;
}
.price-header{
    background: #686868;
    color: #fff;
    font-weight: bold;
}

.block-title {
    min-height: 40px;
    margin-top: 20px;
}
.price .label-info{
    color:#fff;
}

/* Make buttons plain */
.btn, .btn:hover {
    background-image: none;
    border: none;
    text-shadow: none;
}

