<!DOCTYPE html>
<html lang="en">
    <head prefix="og: http://ogp.me/ns#">
        <meta charset="utf-8">

        <title>{{ page.title }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ page.description }}">
        <meta name="author" content="Niklas A Emanuelsson | niklas@krhkliniken.se">

        <!-- OG tags -->
        <meta property="og:type" content="{{ base.og.type }}" />
        <meta property="og:url" content="{{ base.og.url }}" />
        <meta property="og:site_name" content="{{ base.og.site_name }}" />
        <meta property="og:title" content="{{ base.og.title }}" />
        <meta property="og:description" content="{{ base.og.description }}" />
        <meta property="og:img" content="{{ base.og.img }}" />

        <link rel="icon" type="img/png" href="/static/img/favicon.png" />

        <!-- Le styles -->
        <!-- google font -->
        <link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700' rel='stylesheet' type='text/css'>

        <!-- bootstrap css -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" />

        {#
        <style>
            body {
                60px; /* to make the container go all the way to the bottom of the topbar */
            }
        </style>
        #}

        <!-- bootstrap responsive css -->
        <link href="/static/css/resposive.css" rel="stylesheet" />

        {# FIXME:Sort out the less stuff
        {% assets "all_less" %}
            <link rel="stylesheet/less" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}
        #}

        {% assets "all_css" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a href="{{ url_for('index') }}" class="brand">
                        <img class="logo" src="/static/img/logo-text.png" alt="KRH Kliniken - Kiropraktik, Rehab & Hälsa i Malmö" /> 
                        <img class="logo-small" src="/static/img/logo-only.png" alt="KRH Kliniken - Kiropraktik, Rehab & Hälsa i Malmö" /> 
                        <span class="logo-small-title"><span><strong>KRH</strong> KLINIKEN</span> <br> <span>Kiropraktik Rehab Hälsa</span></span>
                    </a>
                    <div class="nav-collapse">
                        <ul class="nav pull-right">
                            {% for nav in base.navs %}
                                {% if nav.enabled %}
                                    <li {% if page.path == nav.route %}class="active"{% endif %}><a href="{{ url_for(nav.route) }}">{{ nav.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container main-container">
            {% block main %}
            {% endblock %}
        </div> <!-- /container -->

        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="span10">
                        <h3>{{ base.footer.title }}</h3>
                        <p>{{ base.footer.text }}</p>
                    </div>
                    <div class="span2">
                        <ul class="social">
                            <li class="facebook">
                                <a href="https://www.facebook.com/{{ base.facebook }}" target="_blank">Facebook</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="span12">
                        <hr />
                        {{ base.footer.address }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <!-- Add jQuery library -->
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

        {% assets "all_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        <script type="text/javascript">
            $(document).ready(function() {

                //Home Script for showing packages
                $('li').each(function(i){
                    $(this).fadeIn(600 * i);
                });

                // FancyBox
                var fancybox = $(".fancybox");
                if (typeof fancybox.fancybox !== 'undefined') {
                    fancybox.fancybox({
                        'scrolling' : true,
                        openEffect : 'none',
                        closeEffect : 'none'
                    });
                }

            });
        </script>
    </body>
</html>
