{% extends 'base.html' %}

{% block main %}
    <div id="info">
        {% for info in page.infos %}
            <div class="row">
                <div class="span12 block-title">
                    <h1>{{ info.heading }}</h1>
                    <hr />
                </div>
                <div class="span8">
                    {% for text in info.texts %}
                    <p>
                        {{ text }}
                    </p>
                    {% endfor %}


                    {% if info.list %}
                    <div class="list-with-heading">
                        <h3>{{ info.list.title }}</h3>
                        <ul>
                            {% for list_item in info.list.list_items %}
                            <li>{{ list_item }}</li>
                            {% endfor %}
                        </ul>   
                    </div>
                    {% endif %}
                </div>

                {% if info.img %}
                <div class="span4">
                    <img src="{{ info.img.src }}" alt="{{ info.img.alt }}" />
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock main %}
